.container {
  display: flex;
  text-align: center;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.leftSide {
  width: 70%;
  height: 100vh;
  min-height: 20rem;
  background-position: center;
  background-size: cover;

  @media (max-width: 600px) {
    display: none;
  }
}

.rightSide {
  width: 30%;
  padding: 0 1rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    width: 100%;
    height: 100vh;
  }
}
